.contacts {
  position: relative;
  background-color: $color-accent;
  color: #ffffff;
}

.contacts__logo-link {
  text-transform: uppercase;
  letter-spacing: 0.14em;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;

  &--footer {
    display: block;
    margin-bottom: 35px;
    padding-left: 26px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
}

.contacts__logo-img {
  position: absolute;
  top: -3px;
  left: 0;
}

.contacts__phone,
.contacts__mail {
  display: block;
  margin-bottom: 15px;

  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-style: normal;

  &:hover {
    opacity: 0.5;
  }
}
