.slider {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: transparent;
}

.slider__image {
  margin-bottom: 15px;
}

.slider__wrapper-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 80px;
  margin-bottom: 10px;
}

.slider__number {
  font-family: 'Prata', serif;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}

.slider__button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &--prev {
    background-image: url("../../images/arrow-prev.svg");
  }

  &--next {
    background-image: url("../../images/arrow-next.svg");
  }

  &:hover {
    opacity: 0.4;
    cursor: pointer;
  }
}
